<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practicando</title>
    <link rel="stylesheet" href="/css/componentes/styles.css" />
  </head>
  <body>
    <section class="contenedor-tarjetas">
        <article class="contenedor-tarjetas__articulo">
          <div class="contenedor-imagen"><span class="texto-imagen">PROGRMACION WEB</span></div>
            <p class="texto-tarjeta">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
              distinctio fugit modi velit cum perspiciatis quo culpa? Tenetur
              sed consequuntur dolorum quia porro, rem inventore libero
              distinctio earum ipsam? Totam.
            </p>
            <p class="footer-tarjeta">HTML, JAVASCRIPT, NODE.JS</p>
        </article>
        <article class="contenedor-tarjetas__articulo">
          <div class="contenedor-imagen1"></div>
          <p class="texto-tarjeta">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
            distinctio fugit modi velit cum perspiciatis quo culpa? Tenetur
            sed consequuntur dolorum quia porro, rem inventore libero
            distinctio earum ipsam? Totam.
          </p>
          <p class="footer-tarjeta">HTML, JAVASCRIPT, NODE.JS</p>
        </article>
        <article class="contenedor-tarjetas__articulo">
          <div class="contenedor-imagen2"></div>
          <p class="texto-tarjeta">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
            distinctio fugit modi velit cum perspiciatis quo culpa? Tenetur
            sed consequuntur dolorum quia porro, rem inventore libero
            distinctio earum ipsam? Totam.
          </p>
          <p class="footer-tarjeta">HTML, JAVASCRIPT, NODE.JS</p>
        </article>
      </div>
    </section>
  </body>
</html>
