html * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: #1e1e1e;
}

.texto-imagen {
  color: #f3f3f3;
  font-size: 20px;
  display: inline-block;
  margin: 133px 71px;
}
.contenedor-tarjetas__articulo {
  width: 355px;
  height: 755px;
  background-color: #f3f3f3;
  margin: auto auto 30px auto;
  border-radius: 16px;
}
.contenedor-tarjetas {
  margin-bottom: 30px;
}

.texto-tarjeta {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 104px;
}

.contenedor-imagen {
  background-image: url("/images/imagenPlana.png");
  width: 355px;
  height: 290px;
  border-radius: 15px;
  background-size: 100%;
}
.contenedor-imagen1 {
  background-image: url("/images/programming.png");
  width: 355px;
  height: 290px;
  border-radius: 15px;
  background-size: 100%;
}
.contenedor-imagen2 {
  background-image: url("/images/writeCode.png");
  width: 355px;
  height: 290px;
  border-radius: 15px;
  background-size: 100%;
}

.footer-tarjeta {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .contenedor-tarjetas {
    max-width: 2024px;
    margin: 110px 265px 320px 265px;
    width: 1400px;
  }
  .contenedor-tarjetas__articulo:not(:first-child) {
    margin-left: 50px;
  }
  .contenedor-tarjetas__articulo {
    display: inline-block;
    width: 430px;
    height: 650px;
  }

  .texto-imagen {
    font-family:'Inter', serif;
    color: #f3f3f3;
    font-size: 33px;
    margin: 119px 21px 118px 20px;
    width: 389px;
    height: 33px;
    text-align: center;
    font-style: normal;
    line-height: 53px;
  }
  .contenedor-imagen,
  .contenedor-imagen1,
  .contenedor-imagen2 {
    width: 430px;
    height: 290px;
    border-radius: 15px;
    background-size: 100%;
  }
  .texto-tarjeta {
    width: 395px;
    height: 243px;
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 17px;
    margin-right: 18px;
    margin-bottom: 30px;
  }
  .footer-tarjeta {
    text-align: center;
    font-size: 20px;
    width: 348px;
    height: 30px;
    line-height: 30px;
    margin: 30px 41px;
  }
}
